body {
    font-family: Lora, sans-serif;
}

.container {
    margin: 0 auto;
    width: 800px;
    padding-top: 20px;
    box-sizing: border-box;
}

.header {
    height: 30vh;
    background: #eeeeee;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 65px;
}

.images {
    flex: 1 3 33%;
}

.images img {
    width: 33%;
    align-items: flex-start;
    padding: 0 2px 0 0;
}

.images img:nth-child(3) {
    padding: 0;
}

.search {
    max-width: 100%;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    height: 35px;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
}

.search:hover, .search::selection {
    outline: none;
}

.button {
    max-width: 100%;
    display: block;
    background: pink;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}