@font-face {
  font-family: "Souvenir";
  src: url("fonts/Souvenir.woff2") format("woff2"),
    url("fonts/Souvenir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Souvenir";
  src: url("fonts/Souvenir-Bold.woff2") format("woff2"),
    url("fonts/Souvenir-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Souvenir";
  src: url("fonts/Souvenir-BoldItalic.woff2") format("woff2"),
    url("fonts/Souvenir-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Souvenir";
  src: url("fonts/Souvenir-Italic.woff2") format("woff2"),
    url("fonts/Souvenir-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Bk BT";
  src: url("fonts/FuturaBT-Book.woff2") format("woff2"),
    url("fonts/FuturaBT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura BdCn BT";
  src: url("fonts/FuturaBT-BoldCondensed.woff2") format("woff2"),
    url("fonts/FuturaBT-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Bk BT";
  src: url("fonts/FuturaBT-BookItalic.woff2") format("woff2"),
    url("fonts/FuturaBT-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Futura Hv BT";
  src: url("fonts/FuturaBT-Heavy.woff2") format("woff2"),
    url("fonts/FuturaBT-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura MdCn BT";
  src: url("fonts/FuturaBT-MediumCondensed.woff2") format("woff2"),
    url("fonts/FuturaBT-MediumCondensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura Md BT";
  src: url("fonts/FuturaBT-Medium.woff2") format("woff2"),
    url("fonts/FuturaBT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: "Futura BK BT", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f7f4fb;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.13'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
  margin: 0 auto;
  width: 1024px;
  max-width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }
}

/* .header {
  height: 30vh;
  flex-direction: column;
  background: #fefefe;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: "Souvenir", serif;
  font-size: 65px;
  margin-bottom: 20px;
  color: #9c92ac;
  padding: 20px;
}

.images-wrapper {
  margin-top: 25px;
  flex-wrap: wrap;
  display: flex;
}

.image {
  /* width: 33%;
  flex: 1 3 33%; */
  height: 40vh;
  flex-grow: 1;
  margin: 30px;
  text-align: center;
}

.images-wrapper img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.images-wrapper img:nth-child(3) {
  padding: 0;
}

.search--wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  box-sizing: border-box;
}

.search {
  outline: none;
  font-size: 20px;
  font-family: "Futura", sans-serif;
  padding: 5px 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #9c92ac;
}

.search:hover,
.search::selection {
  outline: none;
}

.button {
  background-color: #c1f9c9;
  padding: 5px;
  /* color: #fff; */
  box-shadow: 1px 5px #759c7c;
  cursor: pointer;
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-left: 15px;
  border-radius: 5px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.button:hover {
  transform: translateY(3px);
  box-shadow: 3px 3px #759c7c;
}
